@charset "UTF-8";
@font-face {
  font-family: 'Pixellari';
  src: url('/Pixellari.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  background-color: black;
  font-family: 'Pixellari', sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
